<div name="patron_name"><%= @redemption.patron.full_name %>!</div>
<div name="reward_description">Claim your <%= @redemption.store.loyalty_card_terms.last.reward_description %></div>
<div name="store_name"><%= @redemption.store.name %></div>
<%= form_for @redemption, url: redemption_path do |f| %>
  <%= f.hidden_field :id %>
  <%= f.submit 'Claim' %>
<% end %>