<h6>Filters</h6>
<%= link_to('Newer customers', new_store_ad_campaign_path(@store.id), filter: 'newer_customers') %> 
<%= link_to('Frequent customers', new_store_ad_campaign_path(@store.id), filter: 'frequent_customers') %>

<%= bootstrap_form_for( [@store, @campaign], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
    <%= f.hidden_field :store_id %>
    <%= f.text_field :description %>
    <%= f.collection_radio_buttons :platform_id, Platform.all, :id, :name%>
    <%= f.fields_for :ad_campaign_targets do |t| %>
      <%= t.hidden_field :patron_id %>
    <% end %>

    <%= f.submit 'Save', class: 'btn btn-warning' %>     
<% end %>