<div class="flowchart-box rounded col-xs-10 offset-xs-1 col-md-8 offset-md-2 ">
  <div class="row">
    <div class="offset-1">
      <span class="badge badge-success flowchart-step-number"><%= step_number %></span>
      <span class="flowchart-title "><%= title %></span>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="hidden-sm-up">
      <%= image_tag(image, class: "img-fluid flowchart-img-small") %>
    </div>
    <div class="hidden-sm-down">
      <%= image_tag(image, class: "img-fluid flowchart-img-large") %>
    </div>
  </div>

  <div class="row">
    <div class="flowchart-explanation"> 
      <small class=""><%= explanation %></small>
    </div>
  </div>
</div>