<div class="flowchart-box">
  <div class="row justify-content-center">
    <div class="col">
      <span class="badge badge-success flowchart-step-number"><%= step_number %></span>
      <span class="flowchart-title "><%= title %></span>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="hidden-sm-up">
      <%= image_tag(image, class: "img-fluid flowchart-img-small") %>
    </div>
    <div class="hidden-sm-down">
      <%= image_tag(image, class: "img-fluid flowchart-img-large") %>
    </div>
  </div>

  <div class="row">
    <div class="col"> 
      <small class=""><%= explanation %></small>
    </div>
  </div>
</div>