<%= render 'jumbotron_2' %>

<div id="introduction" class="container-fluid">
  <%= render partial: 'introduction' %>
</div>

<div id="flowcharts" class="container">
  <div class="offset-md-3 col-md-6">
    <%= render 'flowchart_carousel' %>
  </div>
</div>

<!-- 
<div id="flowcharts" class="container-fluid">
  <div class="hidden-sm-up">
    <%= render partial: 'flowchart_mobile' %>
  </div>
  <div class="hidden-sm-down">
    <%= render partial: 'flowchart_large' %>
  </div>
</div>

<div id="demo-section">
  <%= render partial: 'instruction_1b', locals: { step_number: 1, title: 'Enrollment' } %>
</div>
-->

<!--
    <div class="row demo-step">
      <div class="col-sm-6 offset-sm-3">
        <%= render 'step_1' %>
      </div>
    </div>

    <div class="row demo-step">
      <div class="col-sm-6 offset-sm-3">
        <img src=<%= image_url('France_44_1.jpg') %> class="img-fluid" alt="Loyalty Card">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <%= render 'step_2' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <%= render 'step_3' %>
      </div>
    </div>
  </div>
    -->
