<%= render 'jumbotron_2' %>
  
<div id="flowchart" class="container">
  <%= render partial: 'flowchart', 
        locals: { step_number: 'Step 1',
                  title: 'Make a purchase',
                  explanation: 'Other businesses, such as car shops or dry cleaners, are also appropriate examples.',
                  image: 'step_1'} %>

  <%= render partial: 'flowchart', 
        locals: { step_number: 'Step 2',
                  title: 'Generate a receipt',
                  explanation: 'This example generates a unique code on the receipt.  This is very useful, but not essential.',
                  image: 'step_2'} %>


  <%= render partial: 'flowchart', 
        locals: { step_number: 'Step 3',
                  title: 'Request Stamp',
                  explanation: 'Customer now texts a proof of purchase to Freebee.',
                  image: 'step_3'} %>

  <%= render partial: 'flowchart', 
        locals: { step_number: 'Step 4',
                  title: 'Save Request',
                  explanation: "Make sure the request is valid and save customer's info, especially their mobile phone number!",
                  image: 'step_3b'} %>

  <%= render partial: 'flowchart', 
        locals: { step_number: 'Step 5',
                  title: 'Stamp Card',
                  explanation: "Send a picture of the customer's newly stamped loyalty card.",
                  image: 'step_5'} %>


  <%= render partial: 'instruction_1b', locals: { step_number: 1, title: 'Enrollment' } %>
</div>

<!--
    <div class="row demo-step">
      <div class="col-sm-6 offset-sm-3">
        <%= render 'step_1' %>
      </div>
    </div>

    <div class="row demo-step">
      <div class="col-sm-6 offset-sm-3">
        <img src=<%= image_url('France_44_1.jpg') %> class="img-fluid" alt="Loyalty Card">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <%= render 'step_2' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <%= render 'step_3' %>
      </div>
    </div>
  </div>
    -->
