<%= render 'jumbotron_2' %>

<div id="demo-section"> 
  <div class="container">
    <div class="row">
      <%= render partial: 'demo_step_label', 
        locals: { step_name: 'Enrollment', step: 1, color: 'mint-green'} %>
      <%= render 'instruction_1'%>
    </div>

    <div class="row demo-step">
      <div class="col-sm-6 offset-sm-3">
        <%= render 'step_1' %>
      </div>
    </div>

    <div class="row demo-step">
      <div class="col-sm-6 offset-sm-3">
        <img src=<%= image_url('France_44_1.jpg') %> class="img-fluid" alt="Loyalty Card">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <%= render 'step_2' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <%= render 'step_3' %>
      </div>
    </div>
  </div>
</div>